<!DOCTYPE html>
<html lang="en">
<head>
  	{% load static %}
<title>LABBAY</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fasthover.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" /> <!-- countdown -->
<!-- //js -->
<!-- web fonts -->
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->
<style>
	.end{
	text-align: center;
	}
	.first{
	text-align: centre;
	}
</style>

</head>
<body>
<div id="signIn">

	</div>
	<div id="logIn">

	</div>
<header>
        <a href="#" class="brand"><img src="{% static './images/logo1.jpg'% }" alt=""/><span> LABBAY</span></a>
        <div class="menu-btn"></div>
        <div class="navigation1">
            <a class="btn signIn">Sign In</a>
			<a class=" btn logIn">Log In</a>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
        </div>
	</header>
<div class="navigation">
		<div class="">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'index' %}"class="act">Bosh Sahifa</a></li>
						<!-- Mega Menu -->
						<li>
							<a href="{% url 'maxsulotlar' %}">Maxsulotlar</a>
						</li>
						<li>
							<a href="{% url 'korzinka' %}" >Savatcha</a>
						</li>
						<li><a href="{% url 'about' %}">Biz Haqimizda</a></li>
						<li><a href="{% url 'boglansh' %}">Bog'lanish</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="task-nav">
		<div class="row">
			<div class="col-xs-2 col-xs-offset-1">
				<a href="{% url 'index' %}" class="act">
					<i class="fa fa-home"></i>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="{% url 'maxsulotlar' %}">
					<i class="fa fa-cart-plus"></i>
			</a>
			</div>
			<div class="col-xs-2">
				<a href="{% url 'korzinka' %}" >
					<i class="fa fa-cart-arrow-down"></i>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="{% url 'about' %}">
					<i class="fa fa-info"></i>
				</a>
			</div>
			<div class="col-xs-2">
				<a href="{% url 'boglansh' %}">
					<i class="fa fa-users"></i>
				</a>
			</div>
		</div>


	</div>
<div class="container">
 <div class="table-header">
	 <h1>Sotib olingan maxsulotlar</h1>
 </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Maxsulot nomi</th>
        <th>Narxi</th>
        <th>Soni</th>
		  <th>Olib tashlash</th>

      </tr>
    </thead>
    <tbody>
	{% for maxx in basket %}
      <tr>
        <td>{{maxx.id}}</td>
        <td>{{maxx.nomi}}</td>
        <td>{{maxx.narxi}}</td>
        <td>{{maxx.miqdori}}dona</td>
        <td><a href="{% url 'deletee' maxx.id %}" class="btn btn-danger">-</a></td>
      </tr>
	{% endfor %}
    </tbody>
  </table>
</div>

<h1> Total amount in this section: ${{narx2}}</h1>
<h1><b style="text-align: centre ">Mobile products</b></h1>

<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script> 
</body>

</html>